@import url("reset.css");
body,html
{
    margin:0 auto;
    padding:0;
}
html
{
    height:100%;
    width:100%;
}
body
{
    font-family: 'Playfair Display', serif;
    background-color: #5DADE2;
    overflow-y: auto;
    margin-bottom:80px;
}
#body
{ 
    margin-bottom:80px;
}
.center
{
    text-align: center;
}
.inline
{
    display:inline-block;
}
.box
{
    font-family: "Open Sans", serif;
    position: relative;
    border:1px solid black;
    background-color: white;
    width:50px;
    height:50px;
    /*border-radius: 7px;*/
    border-left-width: 1px;
    border-bottom-width:1px;
    border-color: #DFDFDF;
    margin-left:-2px;
   /* box-shadow: -2px 2px 4px;*/
}
.keyz
{
    position: absolute;
    top:0;
    left:0;
    margin-left: 19px;
    margin-top:17px;
}
#header
{
    color:white;
}
.desc
{
    font-size:22px;
    margin-top:30px;
    font-family: "Open Sans", serif;
}
.small
{
    font-size:15px;
    font-family: "Open Sans", serif;
}
#title
{
    font-size:70px;
    font-weight:600;
    font-style: italic;
    margin-top:20px;
}
#keyboard
{
    width:600px;
    color:black;
    margin-left:auto;
    margin-right:auto;
    display:block !important;
}
#middle
{
    display:inline-block;
    color:white;
    font-size:50px;
    /*margin-top:80px;
    margin-bottom:80px;*/
    height:40px;
    width:40px;
    /*margin-left: auto;
    margin-right: auto;*/
}
#right,#left
{
    display:inline-block;
    color:white;
    font-size:30px;
    /*margin-top:80px;*/
    /*margin-bottom:80px;*/
    height:40px;
    width:40px;
    /*margin-left: auto;
    margin-right: auto;*/
    opacity: 0.7;
}
#text
{
    position:relative;
    margin-bottom: 80px;
    margin-top:80px;
}
#checkmark
{
    position: absolute;
    opacity:0;
    top:0;
    margin-left:200px;
    margin-top:10px;
    height:80%;
}
#ex
{
    position: absolute;
    opacity:0;
    top:0;
    height:80%;
    margin-left:200px;
    margin-top:10px;
}
.black
{
    color:black;
}
#layerbottom
{
    margin-right:30px;
}
#layermiddle
{
    margin-right:30px;
}
.bold
{
    font-weight:600;
}
#data
{
    position: absolute;
    top:0;
    left:0;
    width:350px;
    height:100px;
    margin-left:15px;
    margin-top:40px;
}
#c,#ic,#ac
{
    opacity:hidden;
}
#correct,#incorrect,#accuracy
{
    display:inline-block;
    color:white;
    font-family: 'Open Sans', serif;
}
#incorrect
{
    color:#E74C3C;
}
#correct
{
    color:#0e6655;
}
#text-2
{
    margin-top:40px;
    padding-bottom: 20px;
}
#desc-2
{
    color:white;
    font-family: "Open Sans", serif;
    font-size:22px;
}
#hideButton
{
    padding: 3px 7px 4px 7px;
    background-color:#2874A6;
}
#hideButton:hover
{
    cursor:pointer;
    background-color:#246895;
}
#hide
{
    margin-top:40px;
    color:white;
    font-family: "Open Sans", serif;
    display:inline-block
}
#logo
{
    margin-top:10px;
    height:60%;
    vertical-align:sub;
}
#logo:hover
{
    cursor: pointer;
    opacity: 0.7;
}
#reset
{
    padding: 3px 7px 4px 7px;
    background-color:#2874A6;
    color:white;
    display:inline-block;
    font-family: "Open Sans", serif;
    vertical-align: top;
}
#reset:hover
{
    cursor: pointer;
    background-color:#246895;
}
#wrongInput
{
    position: absolute;
    opacity:1;
    top:0;
    font-size: 40px;
    margin-left:250px;
    margin-top:10px;
    color:white;
}
#changelog
{
    text-decoration: none;
    position:absolute;
    bottom:0;
    right:0;
    margin-right:15px;
    margin-bottom:15px;
    font-family:'Playfair Display', serif;
    font-style: italic;
    color:white;
}
#footer
{
    border-top: 2px solid #246895;
    height:80px;
    position: fixed;
    left:0px;
    width:100%;
    bottom:0px;
    background-color: #2874A6;
    color:white;
    font-family:'Open Sans', serif;
}
